@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: 'nuer regular';
  src: url("/fonts/ppneuemontreal-book.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'nuer regular', sans-serif;
  overflow-x: hidden;
}

.nav-btn {
  background-color: #b8bbb9;
  transition: all 200ms ease;
}

.nav-btn:hover {
  background-color: #ffffff;
  color: black;
}

.hidden-link {
  top: 0;
  transition: all 400ms ease;
  transform: translate(0, 100%);
}

.link-underline {
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: translate(0, 30px);
  opacity: 0;
  transition: all 400ms ease;
}

.navlink:hover ~ .link-underline {
  transform: translate(0, 15px);
  opacity: 1;
}
.active-link {
  transition: all 400ms ease;
}

.navlink:hover .active-link {
  transform: translate(0, -100%);
}
.navlink:hover .hidden-link {
  transform: translate(0, 0);
}

.underline-one,
.underline-two {
  transition: all 600ms ease;
}

.redirect-link > .underlines > .underline-two {
  transform: translate(-120%, 0%);
}

.redirect-link:hover > .underlines > .underline-one {
  transform: translate(120%, 0%);
}
.redirect-link:hover > .underlines > .underline-two {
  transform: translate(0%, 0%);
}

.bar-1,
.bar-2,
.bar-3 {
  transition: all 600ms ease;
}

#menu-check:checked ~ .hamburger > .bar-1 {
  transform-origin: left center;
  rotate: 45deg;
  transform: translate(1px, -3px);
}

#menu-check:checked ~ .hamburger > .bar-2 {
  transform: translate(100%, 0);
  opacity: 0;
}

#menu-check:checked ~ .hamburger > .bar-3 {
  transform-origin: left center;
  rotate: -45deg;
  transform: translate(1px, 3px);
}

.menu-open {
  animation: open-menu 700ms cubic-bezier(0.58, 0.03, 0, 1) 1 forwards;
}

.menu-hidden {
  animation: menu-closed 700ms ease 1 forwards;
}

@keyframes open-menu {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes menu-closed {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(100%, 0%);
  }
}

@keyframes fade-in {
  from {
    transform: translate(50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: translate(0%, 0);
    opacity: 1;
  }
  to {
    transform: translate(50%, 0);
    opacity: 0;
  }
}

.menu-link {
  cursor: pointer;
  transform: translate(50%, 0);
  opacity: 0;
}

.menu-open > ul > li {
  animation: fade-in 700ms ease 1 forwards;
}

.menu > ul > li:nth-child(1) {
  animation-delay: 0ms;
}

.menu > ul > li:nth-child(2) {
  animation-delay: 100ms;
}

.menu > ul > li:nth-child(3) {
  animation-delay: 200ms;
}

.menu > ul > li:nth-child(4) {
  animation-delay: 300ms;
}

.menu > ul > li:nth-child(5) {
  animation-delay: 400ms;
}

.menu-hidden > ul > li {
  animation: fade-out 200ms 1 forwards !important;
}

.menu-link {
  transition: filter 500ms ease;
}
.menu-link-container:has(.menu-link:hover) .menu-link:not(.menu-link:hover) {
  filter: blur(5px) !important;
}

#previousTransactions:has(.transaction:hover)
  .transaction:not(.transaction:hover) {
  opacity: 0.5;
  transition: 0.2s;
}
